# --- Frontend (Node) ---
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/build
/frontend/coverage
/frontend/.DS_Store
/frontend/.env*.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# --- Backend (Python) ---
/backend/venv/
/backend/__pycache__/
/backend/*.pyc
/backend/.env
/backend/.vscode/

# --- IDEs & OS ---
.DS_Store
.vscode/
.idea/
*.log